<header>
  <% include partials/head %>
</header>


<div class="jumbotron text-center">
    <h1 class = "display-2"> ProfessorOak </h1>
</div>

<form class="" action="generate" method="GET">
  <center>
    <button  type="submit" class = "btn btn-primary"  name="Make a roster!">Make a killer roster</button>
  </center>
</form>



<footer>
  <% include partials/footer%>
</footer>
