<header>
  <% include partials/head %>
</header>


<div class="jumbotron text-center">
    <h1 class = "display-2"> PokeStats </h1>
</div>

<button  type="button" class = "btn btn-primary"  name="Make a roster!">Make a killer roster</button>
<a href="/generate">generate!</a>

<footer>
  <% include partials/footer%>
</footer>
