<header>
  <% include partials/head %>
</header>

<div class="container">
  <div class="page-header">
    <h1>And your team is.....</h1>
  </div>
</div>

<%= roster[0] %>



<footer>
  <% include partials/footer%>
</footer>
