<header>
  <% include partials/head %>
</header>

<div class="container">
  <div class="page-header">
    <h1>And your team is.....</h1>
  </div>
</div>


<div class="container mt-3">
<ul class="list-group">

  <% roster.forEach(function(pk){ %>

  <li class="list-group-item"><%= pk %> </li>

  <% }) %>

</ul>
</div>



<form class="" action="generate" method="GET">
  <center>
    <button  type="submit" class = "btn btn-primary"  name="Make a roster!">Reconfigure your prefernces</button>
  </center>
</form>



<footer>
  <% include partials/footer%>
</footer>
